:root{
    --a:#EEEEFF;
    --d:#7F7CAF;
    --c:#9FB4C7;
    --b:#28587B;
    --e:#9FB798;
    --f:rgb(58, 66, 55);
    --maindark:#232528;
}
body{
  font-family: 'Montserrat', sans-serif !important;
  background:var(--a) !important;
  color:var(--maindark) !important;
}
.text-title{
  font-family: 'Bitter', serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.filter{
filter: invert(85%) sepia(16%) saturate(394%) hue-rotate(169deg) brightness(82%) contrast(89%);
}
.text-blue{
  color: var(--b);
}
.text-bright{
  color:var(--maindark);
}
.bg-blue{
  background: var(--e);
}
.btn-black{
  background:transparent;
  text-transform: capitalize;
  font-size:0.8rem !important;
  color:var(--maindark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--maindark) !important;
}
.btn-black:hover{
  background-color: var(--maindark) !important;
  color:var(--a) !important; 
}
.cart-icon{
  cursor:pointer;
  font-size:1.2rem;
  color:var(--d);
}
